h1 {
  color: black;
  text-align: center;
  padding: 25;
  font-family: bombshell pro;
  font-size: 50px;
  border: 2px solid black;
  background-color: lightblue;
}

.myChart {
  padding: 2%;
  position: relative;
  justify-content: left;
  width: 650px;
}

#main {
  width: 0;
}

#center {
  display: flex;
  flex-direction: row;
}

#textBox {
  // display: flex;
  margin-right: 2%;
  margin-top: 20%;
  padding: 1%;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 600px;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  font-size: large;
  font-style: oblique;
  background: radial-gradient(circle at bottom, rgb(255, 255, 0) 0, rgb(255, 255, 255) 100%);
}

body {
  background: radial-gradient(circle at bottom, rgb(0, 255, 0) 0, rgb(255, 255, 255) 100%);
  height: 100vh;
  overflow: hidden;
}

#imageLinks img {
  height: 50px;
  width: 50px;
}


.footer {
  position: relative;
  justify-content: end;
  background-color: lightblue; 
  // left: 0;
  margin-bottom: 0%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0) center / 200px 200px round;
  border: 2px solid;
  text-align: center;
}

#widget {
  width: 600px;
  height: 500px;
  justify-content: baseline;
  position: relative;
}
  
#main {
  z-index: 1;
  position: relative;
  color: white;
}
